---
layout: base
tags: pages
---

  {% if seo.description %}
    <div class="p-2">
      {{ seo.description }}
    </div>
  {% endif %}

  {{ content | safe }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script>
      gsap.fromTo(".card", {duration: 1, yPercent: 100, autoAlpha: 0, stagger: 0.5}, {duration: 1, yPercent: 0, ease: "power2.out", autoAlpha: 1, stagger: 0.5});
    </script>
