---
layout: base
tags: pages
---

<article class="{{ structure.g_pageWidth }}">

  <h1 class="text-white}">{{ seo.title or title }}</h1>

  {% if seo.description %}
    <div class="p-2">
      {{ seo.description }}
    </div>
  {% endif %}

  {{ content | safe }}

</article>