---
title: Contact
date: 2021-01-01
layout: page
eleventyNavigation:
  key: main
  title: Contact  # as it will appear in the nav
  order: 4        # order to display in the nav
seo:
  title: Contact Us
  description: Got a question or spotted an error? Contact me and I'll get back to you as soon as I can. 
---

<div class="relative">
  <div class="relative mx-auto max-w-7xl">
    <div class="px-4 py-16 sm:px-6 lg:py-24 lg:px-8 xl:pl-12">
      <div class="max-w-lg mx-auto lg:max-w-none">
        <form name="contact" action="/thankyou" method="POST" data-netlify-recaptcha="true" data-netlify-honeypot="bot-field" data-netlify="true" class="grid grid-cols-1 row-gap-6">
          <p class="hidden">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
          </p>
          <div>
            <label for="full_name" class="sr-only">Full name</label>
            <div class="relative rounded-md shadow-sm">
              <input id="full_name" name="name" class="block w-full px-4 py-3 mb-6 placeholder-gray-500 transition duration-150 ease-in-out form-input" placeholder="Full name">
            </div>
          </div>
          <div>
            <label for="email" class="sr-only">Email</label>
            <div class="relative rounded-md shadow-sm">
              <input id="email" name="email" type="email" class="block w-full px-4 py-3 mb-6 placeholder-gray-500 transition duration-150 ease-in-out form-input" placeholder="Email">
            </div>
          </div>
          <div>
            <label for="phone" class="sr-only">Phone</label>
            <div class="relative rounded-md shadow-sm">
              <input id="phone" name="phone" class="block w-full px-4 py-3 mb-6 placeholder-gray-500 transition duration-150 ease-in-out form-input" placeholder="Phone">
            </div>
          </div>
          <div>
            <label for="message" class="sr-only">Message</label>
            <div class="relative rounded-md shadow-sm">
              <textarea id="message" name="message" rows="4" class="block w-full px-4 py-3 mb-6 placeholder-gray-500 transition duration-150 ease-in-out form-input" placeholder="Message"></textarea>
            </div>
          </div>
          <div data-netlify-recaptcha="true"></div>
          <div class="">
            <span class="inline-flex rounded-md shadow-sm">
              <button type="submit" class="py-4 px-6 my-4 rounded-lg bg-pine hover:text-dark hover:bg-pumpkin">
                Submit
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>